/* Welcome.css */


.container-welcome {
  display: flex;
  justify-content: space-around; /* Distributes space between text and image */
  align-items: center;           /* Vertically centers items */
  background: white;
 
  width: 100vw;
  margin: 20px auto;                /* Centers the container horizontally */
}

.container-welcome .text{
  width:30vw;
  
}
.login-signup-links {
  display: inline-flex;
  gap: 10px; 
}



.text h4 {
  font-size: 1 em;
 
  margin-bottom: 10px;
  animation: fadeInUp 1s ease-out;
  font-weight: bold;
  color:#0669ab ;
}

.container-welcome p {

  margin-bottom: 10px;
  
  animation: fadeInUp 1.5s linear 0.5s; 
}

.image-container img {
  width: 100%;
  height: auto; 
  max-width: 100%; 

  animation: slideIn 1s ease-out;
}

/* Animations */
@keyframes fadeInUp {
  from {
      opacity: 0;
      transform: translateY(20px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }

}


@keyframes slideIn {
  from {
      opacity: 0;
      transform: translateX(40px); /* Starts from 20px to the right */
  }
  to {
      opacity: 1;
      transform: translateX(0); /* Ends at its original position */
  
  }
}






/* Pricing section styles */


.pricing-options {
  width: 100%;
  display: flex;
  background-color: #f4f4f4;
  justify-content: space-around;
  flex-wrap: wrap;
}

.pricing-option {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 10px;
  flex: 1;
  max-width: 300px;
  transition: transform 0.3s ease;
}

.pricing-option:hover {
  transform: scale(1.05);
}

.pricing-option ul li {
  list-style-type: none;
}

/* Features section styles */

.features-section {
  display: flex;
  /* flex-wrap: wrap; */
  box-sizing: border-box;
  gap: 50px;
  justify-content: center;
  padding: 20px;
  width: 100%;
 
}
.feature2{
  /* border: 1px solid black; */
  animation: moveLeft 1s linear;
  width:40%;
  padding: 20px;
  height:auto;
border-radius: 5px;
box-shadow: 0 0 10px rgba(52, 152, 219, 0.5);
  
}
.feature1{
  /* border: 1px solid black; */
  width:40%;
  animation: moveRight 1s linear;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(52, 152, 219, 0.5);
  height: 300px;
  
}

.feature2-heading{
 text-align: center;
 margin-bottom: 20px;
 
}

.contact-us {
  padding: 20px;
  width: 100%;
  height: 50vh;
  margin: auto;
  text-align: center;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #f4f4f4; /* Optional: to make the section more distinct */
}

.contact-us h2 {
  color: #333;
  margin-bottom: 20px;
}

.social-links {
  width:40vw;
  margin: auto;
  display: flex;
  justify-content: space-between;
 
  
}

.social-links a {
  text-decoration: none;
  color: #007BFF;
  font-size: 16px;
  margin: 0 10px;
  transition: color 0.3s;
}

.social-links a:hover {
  color: #0056b3;
}



.feedback {
  margin: 0;
  font-size: 14px;
  color: #666; /* Optional: adjust color to match your design */
}


@media (max-width: 480px) {
  .features-section {
    flex-direction: column;
    align-items: center;
  }
.feature1,.feature2{
  width: 100%;
}
  
  .container-welcome .text{
      width:100vw;
      padding: 20px;
      
  }
  .imge{
      width: 200px;
  
    
  }
 
}




/* Responsive design */
@media (max-width: 768px) {
  .container-welcome {
      flex-direction: column;
      text-align: center;
  }
  .features-section {
      flex-direction: column;
      align-items: center;
    }
    .feature1,.feature2{
      width: 100%;
    }
  

  .pricing-options {
      flex-direction: column;
  }

  .pricing-option {
      max-width: none;
  }

 
}

/* Animations */
@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

@keyframes fadeInSlide {
  from {
      opacity: 0;
      transform: translateY(20px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}
@keyframes moveLeft {

  from {
      opacity: 0;
      transform: translateX(60px); /* Starts from 20px to the right */
  }
  to {
      opacity: 1;
      transform: translateX(0); /* Ends at its original position */
  
  }
}
@keyframes moveRight {

  from {
      opacity: 0;
      transform: translateX(-60px); 
  }
  to {
      opacity: 1;
      transform: translateX(0); /* Ends at its original position */
  
  }
}