/* Welcome.css */

/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #333;
}

  
/* Container styles */
.container-welcome {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
    
}


/* Content section styles */
.container-welcome {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
}


.text-content {
    padding-right: 20px;
}

.container-welcome p {
    margin: 20px 0;
    font-size: 18px;
    line-height: 1.6;
    animation: fadeIn 2s ease-in-out;
}

.container-welcome img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Pricing section styles */
.pricing-section {
    padding: 20px;
    background: #959fa3; /* Light blue background */
    text-align: center;
}

.pricing-options {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.pricing-option {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px;
    flex: 1;
    max-width: 300px;
    transition: transform 0.3s ease;
}

.pricing-option:hover {
    transform: scale(1.05);
}

.pricing-option ul li {
    list-style-type: none;
}

/* Features section styles */
/* Base styles for the features section */
.features-section {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
  }
  
  .feature {
    flex: 1;
    min-width: 250px; /* Adjust based on your design */
    max-width: 400px; /* Adjust based on your design */
    padding: 20px;
    background-color: #f8f9fa;
    border: 1px solid #e1e1e1;
    border-radius: 8px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  /* Hover effects and animation */
  .feature:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .feature h3 {
    margin-top: 0;
  }
  
  .feature p {
    margin-bottom: 0;
  }
  
  
  @media (max-width: 480px) {
    .features-section {
      flex-direction: column;
      align-items: center;
    }
  
    .feature {
      width: 100%;
      max-width: 90%;
    }
  }
  



/* Responsive design */
@media (max-width: 768px) {
    .container-welcome {
        flex-direction: column;
        text-align: center;
    }

    .text-content {
        padding-right: 0;
        padding-bottom: 20px;
    }

    .pricing-options {
        flex-direction: column;
    }

    .pricing-option {
        max-width: none;
    }

   
}

/* Animations */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeInSlide {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
